body {
    border: double 5px black;
}

.avatar {
    border-radius: 50%;
}

.heading {
    display: block;
    text-align: center;
    background-image: linear-gradient(rgb(135, 206, 250), rgb(153, 209, 211));
    margin: 0 5px;
    padding: 10px 0px;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    margin: 0 5px 30px 5px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    background-image: linear-gradient(rgb(153, 209, 211), rgb(255, 255, 255));
}

.introduction img {
    margin: 5px 50px;
    max-height: 100%;
    border: solid 1px black;
}

.introduction .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-info div {
    margin: 20px 10px;
    background-image: #999;
    /* linear-gradient(rgb(255, 251, 209), rgb(255, 255, 255)) */
}

.main-info span {
    padding-left: 20px;
}

b:hover {
    color: firebrick;
}

p,
li {
    position: relative;
    font-size: 14pt;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: right linear 0.1s;
    right: 0;
}

li:hover {
    color: darkorange;
    right: -3px;
}

b {
    font-size: 18pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}